.yellowbackground {
    background-color: yellow;
}

#lastnamefield {
    font-weight: bold;
}

h2 {
    border-style: double;
}

/*
Change the background color of all of the form input boxes and submit button to be yellow. (Can you do this for all input boxes without having to stylize each one independently?)
*/